# # OASIS INFOBYTE DATASCIENCE INTERNSHIP

## TASK 3- Car Price Prediction With Machine Learning



### Akshay Saini

In [21]:
# Import the modules, read the dataset and create a Pandas DataFrame.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")
# Read the dataset
cars_df = pd.read_csv("CarPrice.csv")
cars_df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [22]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [23]:
# Extract the name of the manufactures from the car names and display the first 25 cars to verify whether names are extracted successfully.
car_companies = pd.Series([car.split(" ")[0] for car in cars_df['CarName']], index = cars_df.index)

# Create a new column named 'car_company'. It should store the company names of a the cars.
cars_df['car_company'] = car_companies
cars_df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,car_company
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,alfa-romero
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,alfa-romero
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,alfa-romero
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,audi
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,audi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0,volvo
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0,volvo
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0,volvo
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,idi,3.01,3.40,23.0,106,4800,26,27,22470.0,volvo
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0,volvo

In [24]:
cars_df['car_company'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [25]:
# Replace the misspelled 'car_company' names with their correct names.
# volkswagen
cars_df.loc[(cars_df['car_company'] == "vw") | (cars_df['car_company'] == "vokswagen"), 'car_company'] = 'volkswagen'

# porsche
cars_df.loc[cars_df['car_company'] == "porcshce", 'car_company'] = 'porsche'

# toyota
cars_df.loc[cars_df['car_company'] == "toyouta", 'car_company'] = 'toyota'

# nissan
cars_df.loc[cars_df['car_company'] == "Nissan", 'car_company'] = 'nissan'

# mazda
cars_df.loc[cars_df['car_company'] == "maxda", 'car_company'] = 'mazda'

cars_df['car_company'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'buick', 'mercury', 'mitsubishi',
       'nissan', 'peugeot', 'plymouth', 'porsche', 'renault', 'saab',
       'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [26]:
# Drop 'CarName' column from the 'cars_df' DataFrame.
cars_df.drop(columns= ['CarName'], axis = 1, inplace = True)
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   fueltype          205 non-null    object
 3   aspiration        205 non-null    object
 4   doornumber        205 non-null    object
 5   carbody           205 non-null    object
 6   drivewheel        205 non-null    object
 7   enginelocation    205 non-null    object
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    object
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    object
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
 25  car_company       205 non-null    object
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [27]:
# Extract all the numeric (float and int type) columns from the dataset.
cars_numeric_df = cars_df.select_dtypes(include = ['int64', 'float64'])
cars_numeric_df

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114,5400,19,25,22625.0

In [28]:
# Drop the 'car_ID' column from the 'cars_numeric_df' DataFrame.
cars_numeric_df.drop(columns = ['car_ID'], axis = 1, inplace = True)

In [29]:
# Map the values of the 'doornumber' and 'cylindernumber' columns to their corresponding numeric values.
words_dict = {"two": 2, "three": 3, "four": 4, "five": 5, "six": 6, "eight": 8, "twelve": 12}
def num_map(series):
    return series.map(words_dict)

In [30]:
# Applying the function to the two columns
cars_df[['cylindernumber', 'doornumber']] = cars_df[['cylindernumber', 'doornumber']].apply(num_map, axis = 1)

In [31]:
# Create dummy variables for the 'carbody' columns.
car_body_dummies = pd.get_dummies(cars_df['carbody'], dtype = int)
car_body_dummies

     convertible  hardtop  hatchback  sedan  wagon
0              1        0          0      0      0
1              1        0          0      0      0
2              0        0          1      0      0
3              0        0          0      1      0
4              0        0          0      1      0
..           ...      ...        ...    ...    ...
200            0        0          0      1      0
201            0        0          0      1      0
202            0        0          0      1      0
203            0        0          0      1      0
204            0        0          0      1      0

[205 rows x 5 columns]

In [32]:
# Create dummy variables for the 'carbody' columns with 1 column less.
car_body_new_dummies = pd.get_dummies(cars_df['carbody'], drop_first = True, dtype = int)
car_body_new_dummies

     hardtop  hatchback  sedan  wagon
0          0          0      0      0
1          0          0      0      0
2          0          1      0      0
3          0          0      1      0
4          0          0      1      0
..       ...        ...    ...    ...
200        0          0      1      0
201        0          0      1      0
202        0          0      1      0
203        0          0      1      0
204        0          0      1      0

[205 rows x 4 columns]

In [33]:
# Create a DataFrame containing all the non-numeric type features.
cars_categorical_df = cars_df.select_dtypes(include = ['object'])
cars_categorical_df

,fueltype,aspiration,carbody,drivewheel,enginelocation,enginetype,fuelsystem,car_company
0,gas,std,convertible,rwd,front,dohc,mpfi,alfa-romero
1,gas,std,convertible,rwd,front,dohc,mpfi,alfa-romero
2,gas,std,hatchback,rwd,front,ohcv,mpfi,alfa-romero
3,gas,std,sedan,fwd,front,ohc,mpfi,audi
4,gas,std,sedan,4wd,front,ohc,mpfi,audi
...,...,...,...,...,...,...,...,...
200,gas,std,sedan,rwd,front,ohc,mpfi,volvo
201,gas,turbo,sedan,rwd,front,ohc,mpfi,volvo
202,gas,std,sedan,rwd,front,ohcv,mpfi,volvo
203,diesel,turbo,sedan,rwd,front,ohc,idi,volvo
204,gas,turbo,sedan,rwd,front,ohc,mpfi,volvo

In [34]:
#Get dummy variables for all the categorical type columns using the dummy coding process.
cars_dummies_df = pd.get_dummies(cars_categorical_df, drop_first = True, dtype = int)
cars_dummies_df

,fueltype_gas,aspiration_turbo,carbody_hardtop,carbody_hatchback,carbody_sedan,carbody_wagon,drivewheel_fwd,drivewheel_rwd,enginelocation_rear,enginetype_dohcv,...,car_company_nissan,car_company_peugeot,car_company_plymouth,car_company_porsche,car_company_renault,car_company_saab,car_company_subaru,car_company_toyota,car_company_volkswagen,car_company_volvo
0,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
201,1,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
202,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
203,0,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
204,1,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [35]:
#  Drop the categorical type columns from the 'cars_df' DataFrame.
cars_df.drop(list(cars_categorical_df.columns), axis = 1, inplace = True)

In [36]:
# Concatenate the 'cars_df' and 'cars_dummies_df' DataFrames.
cars_df = pd.concat([cars_df, cars_dummies_df], axis = 1)

#  Drop the 'car_ID' column
cars_df.drop('car_ID', axis = 1, inplace = True)
cars_df

,symboling,doornumber,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,...,car_company_nissan,car_company_peugeot,car_company_plymouth,car_company_porsche,car_company_renault,car_company_saab,car_company_subaru,car_company_toyota,car_company_volkswagen,car_company_volvo
0,3,2,88.6,168.8,64.1,48.8,2548,4,130,3.47,...,0,0,0,0,0,0,0,0,0,0
1,3,2,88.6,168.8,64.1,48.8,2548,4,130,3.47,...,0,0,0,0,0,0,0,0,0,0
2,1,2,94.5,171.2,65.5,52.4,2823,6,152,2.68,...,0,0,0,0,0,0,0,0,0,0
3,2,4,99.8,176.6,66.2,54.3,2337,4,109,3.19,...,0,0,0,0,0,0,0,0,0,0
4,2,4,99.4,176.6,66.4,54.3,2824,5,136,3.19,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,4,109.1,188.8,68.9,55.5,2952,4,141,3.78,...,0,0,0,0,0,0,0,0,0,1
201,-1,4,109.1,188.8,68.8,55.5,3049,4,141,3.78,...,0,0,0,0,0,0,0,0,0,1
202,-1,4,109.1,188.8,68.9,55.5,3012,6,173,3.58,...,0,0,0,0,0,0,0,0,0,1
203,-1,4,109.1,188.8,68.9,55.5,3217,6,145,3.01,...,0,0,0,0,0,0,0,0,0,1
204,-1,4,109.1,188.8,68.9,55.5,3062,4,141,3.78,...,0,0,0,0,0,0,0,0,0,1

### Split the 'cars_df' Dataframe into the train and test sets.

In [37]:
# Split the 'cars_df' Dataframe into the train and test sets.
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(cars_df, test_size = 0.3, random_state = 42)

# Create separate data-frames for the feature and target variables for both the train and test sets.
features = list(cars_df.columns)
features.remove('price')

X_train = train_df[features]
y_train = train_df['price']
X_test = test_df[features]
y_test = test_df['price']

# Normalise only the numeric columns.
def standard_norm(series):
  series_mean = series.mean()
  series_std = series.std()
  new_series = (series - series_mean) / series_std
  return new_series

X_train[X_train.columns[:16]] = X_train[X_train.columns[:16]].apply(standard_norm, axis = 0)
X_test[X_test.columns[:16]] = X_test[X_test.columns[:16]].apply(standard_norm, axis = 0)

# Highly correlated features
major_features = {}
for f in features:
  corr_coef = np.corrcoef(cars_df['price'], cars_df[f])[0, 1]
  if (corr_coef >= 0.5) or (corr_coef <= -0.5):
    major_features[f] = corr_coef

print("Number of features moderately to highly correlated with price =", len(major_features), "\n")
major_features

Number of features moderately to highly correlated with price = 15

{'wheelbase': 0.57781559829215,
 'carlength': 0.6829200156779621,
 'carwidth': 0.759325299741511,
 'curbweight': 0.835304879337296,
 'cylindernumber': 0.7183049020002827,
 'enginesize': 0.8741448025245111,
 'boreratio': 0.5531732367984435,
 'horsepower': 0.8081388225362215,
 'citympg': -0.6857513360270399,
 'highwaympg': -0.6975990916465556,
 'drivewheel_fwd': -0.6019502965330916,
 'drivewheel_rwd': 0.6389565386618763,
 'fuelsystem_2bbl': -0.5013743424965742,
 'fuelsystem_mpfi': 0.5170749892680733,
 'car_company_buick': 0.5150940500571324}

#### Recursive Feature Elimination (RFE)

Selected the best 10 features out of the highly correlated features that we just stored in the dictionary above.

To use RFE, we need to

1. Import the `RFE` class from the `sklearn.feature_selection` module.

2. Create an object of a `LinearRegression` class. Let's name it `skl_lin_reg`.

3. Create an object of the `RFE` class. Let's name it `rfe1`. The constructor of the `RFE` object takes the object of `LinearRegression` class (i.e. `skl_lin_reg`) and the number of features to be selected using RFE as inputs.

4. Call the `fit()` function on the `RFE` object with the train set (separate sets for independent variables and dependent variable) as input to the function.

In [45]:
# Use RFE to eliminate few features from the dataset.
# Import RFE.
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

# RFE with 10 features.
skl_lin_reg = LinearRegression()
rfe1 = RFE(skl_lin_reg,n_features_to_select=10)

# Fit with 10 features.
rfe1.fit(X_train[major_features.keys()], y_train)

# Print the attributes.
print(major_features.keys(), "\n") # List of features out of which 10 best featuers are to be selected by RFE.
print(rfe1.support_, "\n") # Array containing the boolean values
print(rfe1.ranking_, "\n") # Ranking of the features selected by RFE

dict_keys(['wheelbase', 'carlength', 'carwidth', 'curbweight', 'cylindernumber', 'enginesize', 'boreratio', 'horsepower', 'citympg', 'highwaympg', 'drivewheel_fwd', 'drivewheel_rwd', 'fuelsystem_2bbl', 'fuelsystem_mpfi', 'car_company_buick'])

[False False  True False  True  True  True  True  True  True  True False
 False  True  True]

[5 3 1 4 1 1 1 1 1 1 1 6 2 1 1]

In [46]:
# Let Build a linear regression model using the 'statsmodels.api' module having the above 10 features selected using RFE.
# Import the 'statsmodels.api' module.
import statsmodels.api as sm

# Subset the train set such that it contains only the above 10 selected features.
rfe_features = X_train[major_features.keys()].columns[rfe1.support_]
X_train_rfe1 = X_train[rfe_features]

# Add the 'const' column to the features set.
X_train_rfe1 = sm.add_constant(X_train_rfe1)

# Fit the model with 10 features selected by RFE.
sm_lin_reg1 = sm.OLS(y_train, X_train_rfe1).fit()
print(sm_lin_reg1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.873
Model:                            OLS   Adj. R-squared:                  0.864
Method:                 Least Squares   F-statistic:                     91.03
Date:                Sat, 12 Aug 2023   Prob (F-statistic):           3.16e-54
Time:                        20:01:42   Log-Likelihood:                -1336.8
No. Observations:                 143   AIC:                             2696.
Df Residuals:                     132   BIC:                             2728.
Df Model:                          10
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const              1.412e+04    618.029     22.840      0.000    1.29e+04    1.53e+04
carwidth           1736.5766    383.874      4.524      0.000     977.236    2495.918
cylindernumber     -700.2571    632.381     -1.107      0.270   -1951.170     550.656
enginesize         3489.8897    772.373      4.518      0.000    1962.060    5017.719
boreratio          -703.0429    412.789     -1.703      0.091   -1519.581     113.495
horsepower         2213.1768    597.516      3.704      0.000    1031.230    3395.123
citympg            -685.9876   1082.467     -0.634      0.527   -2827.215    1455.240
highwaympg          808.1811   1020.663      0.792      0.430   -1210.792    2827.154
drivewheel_fwd    -2362.0657    716.205     -3.298      0.001   -3778.789    -945.342
fuelsystem_mpfi     870.1314    695.994      1.250      0.213    -506.613    2246.876
car_company_buick  8279.4418   1825.139      4.536      0.000    4669.136    1.19e+04
==============================================================================
Omnibus:                       17.987   Durbin-Watson:                   2.101
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               29.251
Skew:                           0.625   Prob(JB):                     4.45e-07
Kurtosis:                       4.829   Cond. No.                         17.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

The $R^2$ and adjusted $R^2$ values are close to $1$ which is a good sign. However, the p-values for a few features are greater than 0.05 which is not a good sign. So let's also calculate the VIF values before you further eliminate more features.

In [47]:
# Check for the VIF values of the 10 features selected by RFE above.
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Create a dataframe that will contain the names of all the feature variables and their respective VIFs
vif = pd.DataFrame()
vif['Features'] = X_train_rfe1.columns
vif['VIF'] = [variance_inflation_factor(X_train_rfe1.values, i) for i in range(X_train_rfe1.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

             Features    VIF
6             citympg  19.90
7          highwaympg  17.69
3          enginesize  10.13
2      cylindernumber   6.79
0               const   6.53
5          horsepower   6.06
4           boreratio   2.89
1            carwidth   2.50
8      drivewheel_fwd   2.14
9     fuelsystem_mpfi   2.07
10  car_company_buick   1.55

Here, we can see that a couple features have high VIF values which means there's a high probability of multicollinearity even though the `statsmodels.api` didn't throw a multicollinearity warning message. We need to remove this multicollinearity either by one-by-one eliminating features or by selecting the fewer features. 
Let's go with the latter approach.


**Note:** As a guideline, to further eliminate the features:

1. Calculate the number of features having high p-values. Let's say this is 5.

2. Calculate the number of features having high VIF values. Let's say this is 3.

3. The number of features to be further eliminated would be the maximum of the numbers obtained in steps 1 and 2. In this case, $\text{max}\{5, 3\} = 5$.

In [48]:
# Use RFE to eliminate few features from the dataset.
# RFE with 5 features.
skl_lin_reg2 = LinearRegression()
rfe2 = RFE(skl_lin_reg2,n_features_to_select=5)

# Fit with 5 features.
rfe2.fit(X_train[major_features.keys()], y_train)

# Print the attributes.
print(major_features.keys(), "\n")
print(rfe2.support_, "\n")
print(rfe2.ranking_, "\n")

dict_keys(['wheelbase', 'carlength', 'carwidth', 'curbweight', 'cylindernumber', 'enginesize', 'boreratio', 'horsepower', 'citympg', 'highwaympg', 'drivewheel_fwd', 'drivewheel_rwd', 'fuelsystem_2bbl', 'fuelsystem_mpfi', 'car_company_buick'])

[False False  True False False  True False  True False False  True False
 False False  True]

[10  8  1  9  3  1  4  1  6  5  1 11  7  2  1]

In [49]:
# Build the linear regression model again using the most recently selected features by RFE
import statsmodels.api as sm

# Subset the train set such that it contains only the above 5 selected features.
rfe_features = X_train[major_features.keys()].columns[rfe2.support_]
X_train_rfe2 = X_train[rfe_features]

# Add the 'const' column to the features set.
X_train_rfe2_sm = sm.add_constant(X_train_rfe2)

# Fit the model with 5 features.
sm_lin_reg2 = sm.OLS(y_train, X_train_rfe2_sm).fit()
print(sm_lin_reg2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.868
Model:                            OLS   Adj. R-squared:                  0.863
Method:                 Least Squares   F-statistic:                     180.2
Date:                Sat, 12 Aug 2023   Prob (F-statistic):           2.00e-58
Time:                        20:01:52   Log-Likelihood:                -1339.8
No. Observations:                 143   AIC:                             2692.
Df Residuals:                     137   BIC:                             2709.
Df Model:                           5
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const              1.436e+04    427.391     33.589      0.000    1.35e+04    1.52e+04
carwidth           1696.2271    357.627      4.743      0.000     989.044    2403.411
enginesize         2636.6328    497.107      5.304      0.000    1653.638    3619.628
horsepower         2363.8354    445.347      5.308      0.000    1483.193    3244.478
drivewheel_fwd    -2016.6827    599.884     -3.362      0.001   -3202.912    -830.454
car_company_buick  7984.8761   1778.109      4.491      0.000    4468.789    1.15e+04
==============================================================================
Omnibus:                       16.079   Durbin-Watson:                   2.142
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               21.325
Skew:                           0.652   Prob(JB):                     2.34e-05
Kurtosis:                       4.371   Cond. No.                         11.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [50]:
X_train_rfe2

     carwidth  enginesize  horsepower  drivewheel_fwd  car_company_buick
177  0.234282   -0.121004   -0.339563               1                  0
75   0.921744    0.313395    1.717747               0                  0
174  0.234282   -0.410604   -0.810513               1                  0
31  -0.957319   -0.845003   -0.736153               1                  0
12  -0.544842    0.892594    0.379256               0                  0
..        ...         ...         ...             ...                ...
106  0.875913    1.302861    1.345944               0                  0
14   0.417605    0.892594    0.379256               0                  0
92  -1.003149   -0.724336   -0.909661               1                  0
179  0.784251    1.061528    1.370731               0                  0
102  0.234282    1.302861    1.147649               1                  0

[143 rows x 5 columns]

As we can see, the $R^2$ and adjusted $R^2$ values are pretty high. The p-values for all the 5 features selected are less than 0.05. These are great signs. Now let's calculate the VIF values for these 5 features to see if there is negligible multicollinearity.

In [51]:
# Check for the VIF values of the feature variables.
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Create a dataframe that will contain the names of all the feature variables and their respective VIFs
vif = pd.DataFrame()
vif['Features'] = X_train_rfe2_sm.columns
vif['VIF'] = [variance_inflation_factor(X_train_rfe2_sm.values, i) for i in range(X_train_rfe2_sm.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

            Features   VIF
2         enginesize  4.18
3         horsepower  3.35
0              const  3.11
1           carwidth  2.16
4     drivewheel_fwd  1.49
5  car_company_buick  1.46

As we can see, the VIF values for all the features is less than 10. Hence, we can safely assume that the multicollinearity between these features is negligible.

---

### Final Features

Now that we have obtained the features that has satisfactory  VIF values and p-values, let's build linear regression model using the `sklearn` module to make predictions on the test set as well and evaluate the efficacy of the model using the MAE, MSE, RMSE parameters and also analyse the residuals.

In [64]:
# S1.1: Create a list of final features and build a linear regression model using the 'sklearn' module.
X_train_final = X_train_rfe2
sk_lin_reg_final = LinearRegression().fit(X_train_final,y_train)
y_train_pred = sk_lin_reg_final.predict(X_train_final)

y_train_pred

array([11614.67148027, 20805.93850454,  9737.85451687,  6747.05425956,
       16681.44092811,  6824.7936787 , 19864.14770684, 10931.14320868,
        7165.9828108 , 15535.30134   ,  9528.31159981,  6447.90534522,
       15156.91804226, 11332.57459877, 10367.81992176, 18744.69666708,
        6667.01482563,  8574.49241448,  6073.31702654, 15535.30134   ,
       17995.1078805 , 18723.83472447, 18395.58734129,  6667.01482563,
       12312.66565663,  6582.36216355, 23784.75672373, 10525.16960491,
        6266.36591107,  6747.05425956, 17193.09859032, 11145.93495064,
        6073.31702654, 12605.69802981,  8928.65351476,  6824.7936787 ,
       11946.28364492, 18786.0198695 ,  8871.70781821, 17369.38919957,
        8574.49241448, 23784.75672373, 16673.53775512,  9282.78821791,
       15792.06125757,  5060.12227179, 15274.10217466,  7840.3016468 ,
       15274.10217466, 11299.47090189, 11946.28364492, 11145.93495064,
        6073.31702654,  5693.54707529, 15865.04439192, 13387.90249977,
        6902.82858754,  9599.93447779, 31356.50332561, 17780.89391937,
       11145.93495064,  6035.02232066, 11332.57459877,  9903.2542518 ,
        7389.97461193, 17193.09859032,  9903.2542518 ,  8574.49241448,
        7710.22975926,  8882.28235999, 10525.16960491,  9488.9389287 ,
       15865.04439192, 29616.77704797,  6577.32358763,  7109.26158947,
        8457.37547442,  9282.78821791, 11140.17553724, 24801.8570677 ,
        6447.90534522, 12605.69802981,  9599.93447779,  7165.9828108 ,
        8726.80352171, 39759.97259754, 11402.1797531 ,  6824.7936787 ,
       17369.38919957, 17193.09859032,  6577.32358763, 16728.01398311,
       19862.84144424,  9599.93447779,  6577.32358763, 18808.99797505,
       16681.44092811, 11145.93495064, 11614.67148027, 12211.53318827,
       27861.04042979, 35543.73916294, 20499.14786551, 12605.69802981,
       15865.04439192, 18786.0198695 ,  9974.09362656,  6447.90534522,
       15274.10217466,  6447.90534522, 20612.60350673, 15865.04439192,
       12856.41068855, 29616.77704797, 11402.1797531 ,  6073.31702654,
       10227.97401635,  7165.9828108 , 16673.53775512, 34778.36746259,
        9488.9389287 ,  7165.9828108 , 10864.06254436, 13387.90249977,
        6447.90534522, 12998.6408218 , 12133.79376913,  5693.54707529,
       18884.40333799, 10769.75807822, 17193.09859032, 11402.1797531 ,
       42863.14531884,  6073.31702654, 17995.1078805 ,  6035.02232066,
       10478.81547085, 36476.61219261, 22458.17441955, 18313.96873005,
        6577.32358763, 21724.98122621, 18884.40333799])

Now let's evaluate the efficacy of the model using the $R^2$, adjusted-$R^2$ MAE, MSE and RMSE parameters.

In [65]:
#  Evaluating the linear regression model using the 'r2_score', 'mean_squared_error' & 'mean_absolute_error' functions of the 'sklearn' module.
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,mean_squared_log_error
print("Train")
print("*" * 35)

print(f"r2 score : {r2_score(y_train,y_train_pred):.3f}")
print(f"Mean Squared Error: {mean_squared_error(y_train,y_train_pred):.3f}")
print(f"Mean Absolute Error: {mean_absolute_error(y_train,y_train_pred):.3f}")
print(f"Mean Root Squared Error: {np.sqrt(mean_squared_error(y_train,y_train_pred)):.3f}")

Train
***********************************
r2 score : 0.868
Mean Squared Error: 8042954.083
Mean Absolute Error: 2080.494
Mean Root Squared Error: 2836.010

---

In [67]:
# Evaluating the linear regression model based on MSLE.
print(f"Mean Squared log Error: {mean_squared_log_error(y_train,y_train_pred):.3f}")

Mean Squared log Error: 0.034

MSLE returns the relative difference between the true and the predicted value, or in other words, it only cares about the percentual difference between them.

It means that MSLE will treat small true and predicted values difference which will also be small approximately the same as big differences between large true and predicted values.

The MSLE is low which is good for our model.

---

---